.App{
    
    text-align: center;
    background-color: rgb(47, 196, 255);
}
.card-cointainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 27px;
    justify-content: center;

}
.cart-value{
    display: flex;
    justify-content: end;
    margin: 15px;
    


}

